
.roboto-mono-bold {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.roboto-mono-thin {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}


body {
    background-color: #292828;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    background-color: #403E3E;
    border:solid black 1px;
    width: 50vw;
    height: 1000px;
    border-radius: 16px;
    padding: 32px;
    box-sizing: border-box;
}

.content .meCard{
    background-color: #5C5757;
    border: solid black 1px;
    display: flex;
    width: 600px;
    height: 250px;
    border-radius: 32px;
    align-items: center;
    gap: 15px;
}

.image-carosel {
    width: inherit;
    display: flex;
    gap: 20px;
}

.image-carosel img{
    width: 60px;
    height: auto;
    object-fit:  contain;
}


.projects-area{
    padding: 0;
    margin-top: 50px;
    width: 50vw;
}

.projects-grid {
    width: inherit;
    height: inherit;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 10px;
    
}

.projects-grid .card {
    background-color: #5C5757;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    border: solid black 1px;
    padding: 15px;
}

.card a {
    color: white;
    text-decoration: none;
}

.card h2 {
    margin: 15px;
    margin-left: 0;
    margin-bottom: 0;
}

.card a:hover{
    text-decoration:underline;
}

.bubbles-carosel{
    display: flex;
    margin-bottom: 0;
    gap: 15px;
}

bubble{
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.blue{
    background-color: #4493f8;
}

.red{
    background-color: #e64f4f;
}

.yellow{
    background-color: #ffcd56;
}

.green{
    background-color: #74db74;
}

