
.roboto-mono-bold {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.roboto-mono-thin {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}


body {
    background-color: #292828;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.content{
    background-color: #403E3E;
    position: relative;
    border:solid black 1px;
    width: 50vw;
    border-radius: 16px;
    padding: 32px;
    box-sizing: border-box;
}

.content .meCard{
    background-color: #5C5757;
    border: solid black 1px;
    display: flex;
    width: 600px;
    height: 250px;
    border-radius: 32px;
    align-items: center;
    gap: 15px;
}

.content p{
    padding-right:120px ;
}

.content .content-footer{
    position: absolute;
    padding: 25px;
    left: 0;
    bottom: 0;
    width: inherit;
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
}

.content-footer button{
    color: white;
    background-color: #74db74;
    border: solid #67bd67 1px;
    border-radius: 16px;
    padding: 15px 40px;
}

.content-footer button:hover{
    background-color: #618a61;
    border: solid #4e694e 1px;
}

.image-carosel {
    width: inherit;
    display: flex;
    gap: 20px;
}

.image-carosel img{
    width: 60px;
    height: auto;
    object-fit:  contain;
}

.current-project-card{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    background-color: #5C5757;
    border: solid black 1px;
    width: 75%;
    height: 150px;
    border-radius: 32px;
    padding-inline: 32px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.current-project-card h2{
    margin-left: 16px;
    margin-block: 10px;
}

.current-project-card h3{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    margin-block: 10px;
    margin-right: 15px;
}

.text-either-side-of-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects-area{
    padding: 0;
    margin-top: 50px;
    width: 50vw;
}

.projects-grid {
    width: inherit;
    height: inherit;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 10px; 
}

.projects-grid .card {
    background-color: #5C5757;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    border: solid black 1px;
    padding: 15px;
}

a {
    color: rgb(162, 204, 228);
}

a:hover{
    color: rgb(137, 175, 197)
}

.music-card-link{
    color: white;
    text-decoration: none;
}

.music-card-link:hover{
    text-decoration: underline;
}

.card h2 {
    margin: 15px;
    margin-left: 0;
    margin-bottom: 0;
}

.card .bubbles-carosel{
    display: flex;
    margin-bottom: 0;
    gap: 15px;
}

bubble{
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.blue{
    background-color: #4493f8;
}

.red{
    background-color: #e64f4f;
}

.yellow{
    background-color: #ffcd56;
}

.green{
    background-color: #74db74;
}

.orange{
    background-color: #d8870d;
}

.cyan{
    background-color: #47cfb2;
}

.contact-card-container{
    display: flex;
    gap: 15px;

}

.contact-card{
    background-color: #5C5757;
    border-radius: 16px;
    border: solid black 1px;
    padding-inline: 16px;
    display: flex;
    gap: 16px;
    height: 60px;
    align-items: center;

}

.contact-card:hover{
    background-color: #292828;
}

.contact-card img{
    height: inherit;
}

.contact-card h1{
    color: white;
    text-decoration: none;
}






/*Mobile viewport*/

@media (max-width:800px){
    .content{
        width: 95%;
        padding-top: 460px;
        padding-bottom: 100px;
        overflow: hidden;
    }

    .content .roboto-mono-thin{
        padding-right: 10px;
    }

    .content .meCard{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #5C5757;
    border: solid black 1px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 100%;
    border-radius: 15px;
    align-items: center;
    gap: 15px;
    }

    .content .content-footer{
        position: absolute;
        padding: 0;
        left: 0;
        bottom: 0;
        width: inherit;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .projects-area{
        padding: 0;
        margin-top: 50px;
        margin-inline: 15px;
        width: 95%;
    }

    .projects-grid {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    }

    .projects-grid .card {
        width: inherit;
    }
}




@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/*animation: rotate 5s linear infinite;*/